/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
#header{
    border-radius: 0 0 20px 20px ;
    position: fixed;
    object-fit: cover;
    height: 15vh;
    width: 100%;
    z-index: 999;
}

.congratulation-medal {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 180px;
    right: 10px;    
}

.horizontal-layout.navbar-sticky .app-content {
    padding: calc(3.5rem + 4.45rem* 2) 2rem 0 2rem;
}

.horizontal-layout.navbar-sticky .horizontal-menu-wrapper .navbar-horizontal.header-navbar.fixed-top {
    top: 84px !important;
    border-radius: 1.357rem !important;
    width: 96%;
    margin: auto;
}

.horizontal-layout.navbar-sticky .header-navbar {
    background: transparent !important; 
}

.horizontal-menu .horizontal-menu-wrapper .header-navbar .navbar-container {
    background: white !important;
}

#header-tv{
    border-radius: 0 0 20px 20px ;
    position: fixed;
    object-fit: cover;
    width: 100%;
}

#header-m{
    margin-top: 60px;
    border-radius: 0 0 20px 20px ;
    position: fixed;
    object-fit: cover;
    height: 30vh;
    width: 100%;
}

.mr-10{
    margin-right: 10px;
}

.font-light{
    color: white;
}
.bg-content-grey{
    background: #F8F8F8
}

.bg-content-grey-m{
    border-radius: 30px 30px 0 0;
    height: auto;
    margin-bottom: 50px;
    background: #fff
}

.header-navbar .navbar-container ul.navbar-nav li i.ficon, .header-navbar .navbar-container ul.navbar-nav li svg.ficon {
    height : 1.5rem;
    width : 1.5rem;
    font-size : 1.5rem;
    /*color : #6E6B7B;*/
    color : black;
}


.footer-nav-area {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #ffffff;
    width: 100%;
    height: 58px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 -6px 12px rgba(15, 15, 15, 0.15);
    box-shadow: 0 -6px 12px rgba(15, 15, 15, 0.15); }

.footer-nav-modal {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 -6px 12px rgba(15, 15, 15, 0.15);
    box-shadow: 0 -6px 12px rgba(15, 15, 15, 0.15); }
.navbar-fot a {
    display: block;
    color: #020202;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-fot a:hover {
    color: forestgreen;
}

.bg-round {
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    background-color: #04AA6D;
    color: white;
}

.main-fot {
    padding: 16px;
    margin-bottom: 30px;
}



@media screen and (max-width: 1100px) {
.header-navbar .navbar-container ul.navbar-nav li i.ficon, .header-navbar .navbar-container ul.navbar-nav li svg.ficon {
    height : 1.5rem;
    width : 1.5rem;
    font-size : 1.5rem;
    /*color : #6E6B7B;*/
    color : black;
}
}